#container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 2px solid;
}
.text-center {
    text-align: center;
}
#weight{
    font-size: 30px;
}
#height{
    font-size: 30px;
}
.btn{
    font-size: 20px;
    background-color:skyblue;
}